@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: var(--font-color);
}

:root {
    --font-color: #Dadaea;
    --font-color-hover: #555;
    --background-color: #252525; 
    --container-background-color: #333;
    --social-button-background-hover: #555;
}

.light {
    --font-color: #252525;
    --font-color-hover: #999;
    --background-color: #Dadaea; 
    --container-background-color: #e1e1e1;
    --social-button-background-hover: rgba(0, 0, 0, .1);
}

html {
    scroll-behavior: smooth;
    color: var(--font-color);
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    transition: .5s;
    align-items: center;
    position: relative;
}

body::-webkit-scrollbar {
    display: none;
}

header{
    padding: 20px;
    width: 100%;
    display: flex;
    z-index: 1000;
    position: fixed;
    justify-content: space-between;
    background-color: var(--container-background-color);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
}

header ion-icon {
    position: absolute;
    padding: 5px 10px;
    color: var(--font-color);
    font-size: 22px;
    cursor: pointer;
    left: 4rem;
    border: 1px solid var(--font-color);
    border-radius: 100px;
}

header nav li {
    display: inline-block;
    margin: 5px 10px;
}

li a {
    color: var(--font-color);
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 500;
    transition: all .2s;
}

li:nth-child(2) a {
    color: #F50620;
}

li:nth-child(3) a {
    color: #009432;
}

li:nth-child(4) a {
    color: #2980B9;
}

li a:hover {
    background: var(--font-color-hover);
    color: var(--font-color);
}

li:nth-child(2) a:hover{
    background: rgba(245, 6, 32, .5);
}

li:nth-child(3) a:hover{
    background: rgba(0, 148, 50, .5);
}

li:nth-child(4) a:hover{
    background: rgba(41, 128, 185, .5);
}

.light #sunny {
    display: none;
}

.light #moon{
    display: block;
}

#moon {
    display: none;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh + 80px);
}

.container, .open {
    margin: 0 auto;
    padding: 3rem;
    text-align: center;
    border-radius: 10px;
    transition: .3s;
    border: 1px solid transparent;
    cursor: pointer;
}

.container:hover {
    background-color: var(--container-background-color);
    transform: scale(1.02);
    border-top: 1px solid rgba(255, 255, 255, .2);
    box-shadow: 0 20px 15px rgba(0, 0, 0, .2);
}

.container img, .open img {
    width: 13rem;
    height: 13rem;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
}

.container h1, .open h1 {
    color: var(--font-color);
    margin-top: 20px;
    font-size: 1.3rem;
    font-weight: 600;
}

.container p {
    color: var(--font-color-hover);
    font-weight: 400;
    font-style: italic;
    margin-top: 15px;
    font-size: 1rem;
    transition: .5s;
}

.container:hover p {
    opacity: 0;
}

.open {
    position: absolute;
    background-color: var(--container-background-color);
    transform: scale(1.02);
    border-top: 1px solid rgba(255, 255, 255, .2);
    box-shadow: 0 20px 15px rgba(0, 0, 0, .2);
    cursor:initial;
    display: none;
}

.open span {
    color: var(--font-color);
    display: block;
    position: absolute;
    font-size: 32px;
    left: 30px;
    top: 20px;
    cursor: pointer;
    border-radius: 999px;
    padding: 0 15px;
    transition: all .2s;
}

.open span:hover {
    background-color: var(--social-button-background-hover);
}

.open .btn {
    color: var(--font-color);
    background-color: transparent;
    margin: 30px;
    font-size: 1rem;
    padding: 15px 25px;
    border-radius: 100px;
    width: 160px;
    cursor: pointer;
    transition: .2s;
}

.open .btn:hover {
    transform: translateY(-5px);
    font-weight: 500;
}

.open .btn:nth-child(1) {
    border: 3px solid #F50620;
}

.open .btn:nth-child(2) {
    border: 3px solid #009432;
}

.open .btn:nth-child(3) {
    border: 3px solid #2980B9;
}

.socials .icons {
    font-size: 2.5rem;
    color: var(--font-color);
    display: flex;
}

.socials button {
    border-radius: 999px;
    margin: 0 10px;
    background-color: var(--container-background-color);
    padding: 8px;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: .2s;
}

.socials button:hover {
    background-color: var(--social-button-background-hover);
    transform: translateY(-5px);
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    padding: 10px 25px;
    background: rgba(0, 0, 0, .1);
    width: 100%;
    justify-content: right;
}

footer .socials .icons{
    font-size: 1.5rem;
}

footer .socials button {
    padding: 8px;
}

@keyframes popUp-ani {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
