@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --font-color: #Dadaea;
    --font-color-hover: #555;
    --background-color: #252525; 
    --container-background-color: #333;
    --social-button-background-hover: #555;
}

.light {
    --font-color: #252525;
    --font-color-hover: #999;
    --background-color: #Dadaea; 
    --container-background-color: #e1e1e1;
    --social-button-background-hover: rgba(0, 0, 0, .1);
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    transition: .5s;
    align-items: center;
}

header{
    padding: 30px;
    display: flex;
}

header ion-icon {
    position: absolute;
    padding: 5px 10px;
    color: var(--font-color);
    font-size: 22px;
    cursor: pointer;
    right: 4rem;
    border: 1px solid var(--font-color);
    border-radius: 100px;
}

.light #sunny {
    display: none;
}

.light #moon{
    display: block;
}

#moon {
    display: none;
}

.container, .open{
    display: block;
    position: relative;
    margin: 5% auto;
    padding: 3rem;
    text-align: center;
    border-radius: 10px;
    background-color: transparent;
    transition: .3s;
    border: 1px solid transparent;
    cursor: pointer;
}

.container:hover {
    background-color: var(--container-background-color);
    transform: scale(1.02);
    border-top: 1px solid rgba(255, 255, 255, .2);
    box-shadow: 0 20px 15px rgba(0, 0, 0, .2);
}

.container img, .open img {
    width: 13rem;
    height: 13rem;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
}

.container h1, .open h1 {
    color: var(--font-color);
    margin-top: 20px;
    font-size: 1.3rem;
    font-weight: 600;
}

.container p {
    color: var(--font-color-hover);
    font-weight: 400;
    font-style: italic;
    margin-top: 15px;
    font-size: 1rem;
    transition: .5s;
}

.container:hover p {
    opacity: 0;
}

.open {
    position: absolute;
    background-color: var(--container-background-color);
    transform: scale(1.02);
    border-top: 1px solid rgba(255, 255, 255, .2);
    box-shadow: 0 20px 15px rgba(0, 0, 0, .2);
    cursor:initial;
    margin-top: 104px;
}

.open span {
    color: var(--font-color);
    display: block;
    position: absolute;
    font-size: 32px;
    left: 30px;
    top: 20px;
    cursor: pointer;
    border-radius: 999px;
    padding: 0 15px;
    transition: all .2s;
}

.open span:hover {
    background-color: var(--social-button-background-hover);
}

.open .btn {
    color: var(--font-color);
    background-color: transparent;
    margin: 30px;
    font-size: 1rem;
    padding: 15px 25px;
    border-radius: 100px;
    width: 160px;
    cursor: pointer;
    transition: .2s;
}

.open .btn:hover {
    transform: translateY(-5px);
    font-weight: 500;
}

.open .btn:nth-child(1) {
    border: 1px solid #F50620;
}

.open .btn:nth-child(2) {
    border: 1px solid #009432;
}

.open .btn:nth-child(3) {
    border: 1px solid #2980B9;
}

.open .socials .icons {
    font-size: 2.5rem;
    color: var(--font-color);
    display: flex;
}

.open .socials button {
    border-radius: 999px;
    margin: 0 10px;
    background-color: var(--container-background-color);
    padding: 8px;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: .2s;
}

.open .socials button:hover {
    background-color: var(--social-button-background-hover);
    transform: translateY(-5px);
}