@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: var(--font-color);
}

:root {
    --font-color: #Dadaea;
    --font-color-hover: #555;
    --background-color: #252525; 
    --container-background-color: #333;
    --social-button-background-hover: #555;
}

.light {
    --font-color: #252525;
    --font-color-hover: #999;
    --background-color: #Dadaea; 
    --container-background-color: #e1e1e1;
    --social-button-background-hover: rgba(0, 0, 0, .1);
}

html {
    scroll-behavior: smooth;
    color: var(--font-color);
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    transition: .5s;
    align-items: center;
    position: relative;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

main {
    padding-bottom: 80px;
    width: 100%;
}

header{
    padding: 20px;
    width: 100%;
    display: flex;
    z-index: 1000;
    position: fixed;
    justify-content: space-between;
    background-color: var(--container-background-color);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
}

.button-theme ion-icon {
    position: absolute;
    padding: 5px 10px;
    color: var(--font-color);
    font-size: 22px;
    cursor: pointer;
    left: 4rem;
    border: 1px solid var(--font-color);
    border-radius: 100px;
}

.out {
    position: absolute;
    top: 20px;
    left: 0rem;
}

header .menu-navegation .icon {
    position: absolute;
    padding: 5px;
    border-radius: 50%;
    font-size: 25px;
    right: 2.5rem;
    opacity: 0;
    z-index: -1;
}

header nav ul {
    display: block;
}

header nav li {
    display: inline-block;
    margin: 5px 10px;
}

li a {
    color: var(--font-color);
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 500;
    transition: all .2s;
}

li:nth-child(2) a {
    color: #F50620;
}

li:nth-child(3) a {
    color: #009432;
}

li:nth-child(4) a {
    color: #2980B9;
}

li a:hover {
    background: var(--font-color-hover);
    color: var(--font-color);
}

li:nth-child(2) a:hover{
    background: rgba(245, 6, 32, .5);
}

li:nth-child(3) a:hover{
    background: rgba(0, 148, 50, .5);
}

li:nth-child(4) a:hover{
    background: rgba(41, 128, 185, .5);
}

.light #sunny {
    display: none;
}

.light #moon{
    display: block;
}

#moon {
    display: none;
}

section {
    width: 100vw;
    height: 100vh;
    margin: 50px 0;
}

section:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    height: 100vh;
}

/*###################  PERFIL  ######################*/

.container, .open {
    margin: 0 auto;
    padding: 3rem;
    text-align: center;
    border-radius: 10px;
    transition: .3s;
    border: 1px solid transparent;
    cursor: pointer;
}

.container:hover {
    background-color: var(--container-background-color);
    transform: scale(1.02);
    border-top: 1px solid rgba(255, 255, 255, .2);
    box-shadow: 0 20px 15px rgba(0, 0, 0, .2);
}

.container img, .open img {
    width: 13rem;
    height: 13rem;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
}

.container h1, .open h1 {
    color: var(--font-color);
    margin-top: 20px;
    font-size: 1.3rem;
    font-weight: 600;
}

.container p {
    color: var(--font-color-hover);
    font-weight: 400;
    font-style: italic;
    margin-top: 15px;
    font-size: 1rem;
    transition: .5s;
}

.container:hover p {
    opacity: 0;
}

.open {
    position: absolute;
    background-color: var(--container-background-color);
    transform: scale(1.02);
    border-top: 1px solid rgba(255, 255, 255, .2);
    box-shadow: 0 20px 15px rgba(0, 0, 0, .2);
    cursor:initial;
    display: none;
}

.open span {
    color: var(--font-color);
    display: block;
    position: absolute;
    font-size: 32px;
    left: 30px;
    top: 20px;
    cursor: pointer;
    border-radius: 999px;
    padding: 0 15px;
    transition: all .2s;
}

.open span:hover {
    background-color: var(--social-button-background-hover);
}

.open .btn {
    color: var(--font-color);
    background-color: transparent;
    margin: 30px;
    font-size: 1rem;
    padding: 15px 25px;
    border-radius: 100px;
    width: 160px;
    cursor: pointer;
    transition: .2s;
}

.open .btn:hover {
    transform: translateY(-5px);
    font-weight: 500;
}

.open a:nth-child(1) .btn{
    border: 3px solid #F50620;
}

.open a:nth-child(2) .btn{
    border: 3px solid #009432;
}

.open a:nth-child(3) .btn{
    border: 3px solid #2980B9;
}

.socials .icons {
    font-size: 2.5rem;
    color: var(--font-color);
    display: flex;
}

.socials button {
    border-radius: 999px;
    margin: 0 10px;
    background-color: var(--container-background-color);
    padding: 8px;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: .2s;
}

.socials button:hover {
    background-color: var(--social-button-background-hover);
    transform: translateY(-5px);
}

/*###################  ABAUT ME  ######################*/

.abaut {
    flex-direction: column;
    justify-content: center;
    border: 1px solid transparent;
}

.abaut h1 {
    width: 100%;
    text-align: center;
    margin-top: 110px;
}

.abaut .container-abaut {
    margin: 0 auto;
    margin-top: 75px;
    width: 80%;
    max-width: 1350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.abaut .container-abaut .photo img {
    width: 350px;
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, .5));
    object-fit: cover;
}

.abaut .container-abaut .description-me {
    width: 50%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.abaut .container-abaut .description-me p {
    text-indent: 2rem;
    text-align: justify;
}

.abaut .container-abaut .description-me .iteration-area {
    position: absolute;
    width: 100%;
    justify-content: end;
    bottom: 25px;
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
}

.abaut .container-abaut .description-me .iteration-area a {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 2px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
    background: linear-gradient(90deg, #2980B9, #F50620);
    transition: all .3s;
}

.abaut .container-abaut .description-me .iteration-area a:hover{
    color: var(--background-color);
}

/*###################  SKILLS  ######################*/

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:baseline;
}

.skills h1 {
    margin-top: 130px;
}

.skills .container-skills {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: 100%;
    margin-bottom: 80px;
}

.skills .container-skills .img {
    height: 6.5rem;
    width: 6.5rem;
    transition: .2s;
    border-radius: 8px;
}

.skills .container-skills .img:hover {
    transform: translateY(-15px) scale(1.3);
    margin: 15px;
}

.skills .container-skills img {
    padding: 6px;
}

/*###################  PROJECTS  ######################*/

.projects {
    width: 100%;
    height: auto;
    border: 1px solid transparent;
}

.projects .container-projects {
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin: 150px auto;
    margin-bottom: 0;
    border: 1px solid transparent;
}

.container-projects h1 {
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.projects .container-projects .project {
    width: 250px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
    background-color: var(--container-background-color);
    cursor: pointer;
    transition: all .3s;
    overflow: hidden;
    position: relative;
}

.projects .container-projects .project:hover{
    transform: scale(1.03);
}

.projects .container-projects .project figure {
    width: 100%;
    height: 75%;
    background-color: rgba(255, 255, 255, 0.3);
}

.projects .container-projects .project figure::after{
    content: "";
    width: 100%;
    height: 75%;
    display: block;
    top: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, .8);
    opacity: 0;
    transition: .3s ease-in-out;
}

.projects .container-projects .project .redirect {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.projects .container-projects .project .redirect .icon {
    font-size: 35px;
    margin: 15px;
    padding: 8px;
    border-radius: 50%;
    transition: .3s ease-in-out;
    color: #Dadaea;
    opacity: 0;
}

.projects .container-projects .project .redirect .icon:hover {
    background-color: #333;
}

.projects .container-projects .project:hover figure::after, .projects .container-projects .project:hover .redirect .icon {
    opacity: 1;
}

.projects .container-projects .project .img-project {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projects .container-projects .project .description-project {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px; 
}

/*###################  CONTACT  ######################*/

.contact {
    width: 100%;
    padding-top: 80px;
    margin-bottom: 200px;
    text-align: center;
}

.contact h1 {
    margin: 50px;
}

.contact .contact-area {
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact .contact-area input {
    height: 30px;
    padding: 17px 20px;
    font-size: 1rem;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid;
}

.contact .contact-area textarea {
    border: 1px solid;
    outline: none;
    resize: none;
    background: none;
    padding: 17px 20px;
}

.contact .contact-area .btn {
    border: none;
    padding: 15px;
    height: auto;
    width: 25%;
    min-width: 150px;
    margin: auto;
    cursor: pointer;
    transition: all .3s;
    border-radius: 99px;
    background: linear-gradient(90deg, #2980B9, #F50620);
    letter-spacing: 2px;
    font-weight: 500;
}

.contact .contact-area .btn:hover {
    width: 30%;
    color: var(--background-color);
}

/*###################  FOOTER AND ANIMATIONS  ######################*/

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    padding: 10px 25px;
    backdrop-filter: blur(2px);
    background: rgba(0, 0, 0, .1);
    width: 100%;
    justify-content: right;
    align-items: center;
}

footer .socials {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .socials .icons{
    font-size: 1.5rem;
}

footer .socials button {
    margin-top: 0;
    padding: 8px;
}

.to-down-header, .to-down-footer{
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.to-down-header.active, .to-down-footer.active {
    opacity: 1;
    pointer-events: initial;
}

@keyframes popUp-ani {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*###################  RESPONSIVENESS  ######################*/

@media (max-width: 1079px){
    .open {
        display: block;
        border-radius: 0;
    }

    .open span {
        display: none;
    }

    .open .btn {
        margin: 30px 30px 0 30px;
    }

    .socials button {
        margin-top: 30px;
    }
}

@media (max-width: 940px) {
    .abaut .container-abaut {
        width: 90%;
    }
} 

@media (max-width: 934px) {
    .open {
        margin-top: 130px
    }
}

@media (max-width: 850px) {
    .abaut .container-abaut img {
        display: none;
    }

    .abaut .container-abaut .description-me {
        width: 100%;
        padding-bottom: 150px;
    }
}

@media (max-width: 631px){
    .button-theme {
        z-index: 100;
    }
    .open {
        margin: 0;
        width: 100vw;
        height: 100vh;
    }

    header {
        height: 80px;
    }

    header .menu-navegation .icon{
        opacity: 1;
    }
    nav ul {
        margin-top: 60px;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 0;
        background-color: var(--container-background-color);
        left: -100%;
        transition: all .3s;
    }

    .show nav ul {
        left: 0%;
    }

    nav li {
        width: 100%;
        text-align: center;
        padding: 30px 0;
    }

    nav li:nth-child(1) {
        padding-top: 80px;
    }

}

@media (max-width: 542px) {
    .open {
        padding-top: 130px;
        height: calc(100vh + 140px);
    }

}

@media (max-width: 370px) {
    .abaut h1 {
        margin-top: 200px;
    }
    .abaut .description-me {
        height: 70vh;
    }
    .abaut .iteration-area {
        flex-direction: column;
        text-align: center;
    }
}
